body, html {
    font-family: cursive;
}

.foto1{
    width: 500px;
    height: 500px;
    overflow: hidden;
    float: left;
    margin: 1em;
    position: relative;
    border: 2px solid black;
}

.foto1 article {
    position: relative;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    height: 517px;
    padding: 2em;
    box-sizing: border-box;
    transition: margin-top 1s;
}

.foto1:hover article {
    margin-top: -517px;
    -webkit-animation: bounce 800ms ease-out;
	-moz-animation: bounce 800ms ease-out;
	-o-animation: bounce 800ms ease-out;
	animation: bounce 800ms ease-out;
}

footer {
    clear: left;
    text-align: center;
}
/* W3, Opera 12+, Firefox 16+ */
@keyframes bounce {
  0% {
	transform:translateY(-100%);
    opacity: 0;
  }
  5% {
  	transform:translateY(-100%);
    opacity: 0;
  }
  15% {
  	transform:translateY(0);
    padding-bottom: 5px;
  }
  30% {
  	transform:translateY(-50%);
  }
  40% {
  	transform:translateY(0%);
    padding-bottom: 6px;
  }
  50% {
  	transform:translateY(-30%);
  }
  70% {
  	transform:translateY(0%);
    padding-bottom: 7px;
  }
  80% {
  	transform:translateY(-15%);
  }
  90% {
  	transform:translateY(0%);
  	padding-bottom: 8px;
  }
  95% {
  	transform:translateY(-7%);
  }
  97% {
  	transform:translateY(0%);
  	padding-bottom: 9px;
  }
  99% {
  	transform:translateY(-3%);
  }
  100% {
  	transform:translateY(0);
  	padding-bottom: 9px;
    opacity: 1;
  }
}